body {
	background-color: lightyellow;
}

h1 {
	text-align: center;
	color: darkblue;
}

table {
	border-collapse: collapse;
	border: 5px solid darkblue;
	margin: auto;
	height: 500px;
	width: 30%;
}

td {
	border-bottom: 2px solid darkblue;
}

p {
	text-align: right;
	font-size: 20px;
	color: darkblue;
}

#require {
	color: red;
	font-weight: bold;
}

#buttons {
	text-align: center;
}

input {
	width: 95%;
	font-size: 20px;	
	border: 1px ridge darkblue;
}

button {
	color: darkblue;
	font-size: 20px;
	border-radius: 5px;
	margin: 10px;
}