﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="todoModule">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab03</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/todo.css" />
    <script src="js/angular.min.js"></script>
    <script src="scripts/todo.js"></script>
</head>
<body>
    <div ng-controller="todoController">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td><h1>List A</h1></td>
                    <td><h1>List B</h1></td>
                </tr>
            </thead>
            <tr>
                <td>
                    <ul class="list-group">
                        <!--make a list using for each "todo" inside todoList-->
                        <li class="list-group-item" ng-repeat="todo in todoListA">
                            <input type="checkbox" ng-model="todo.done" ng-click="moveToDoItem(todo)" />
                            <span class="done-{{todo.done}}">{{todo.text}}</span>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="todo in todoListB">
                            <input type="checkbox" ng-model="todo.done" />
                            <span class="done-{{todo.done}}">{{todo.text}}</span>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <form class="form-row">
                        <!--setup model newToDoText-->
                        <input type="text" ng-model="newToDoText" />
                        <!--two button to call function in js file using AngularJS-->
                        <button class="btn btn-success" ng-click="addToDoItem()" ng-disabled="checkEmptyTextbox()">Add</button>
                    </form>
                </td>
                <td>
                    <button class="btn btn-info" ng-click="moveListItems()" ng-disabled="checkEmptyList()">Undo</button>
                    <button class="btn btn-basic" ng-click="cleanDone()" ng-disabled="checkEmptyList()">Clean Done</button>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>