﻿@model Lab04.Models.AnswerList

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<div>
    <div class="header">
        <h1 class="display-2" style="text-align:center"><img src="~/Content/Img/Chrome-icon.png" style="width:60px;height:60px;vertical-align:middle;padding-right:5px" />HOMEPAGE</h1>
    </div>
    <div>
        <h3>Hello from the other side</h3>
        <span style="font-size:large">@Html.ActionLink("Go to survey", "Survey", new { id = 1 })</span>
    </div>
    <hr />
    <div style="font-size:larger">
        @if (TempData["msg"] == null)
        {
            if (Model.Answer == string.Empty || Model.ID == 0)
            {
                <span class="bg-warning">Not Answered</span>
            }
            else
            {
                <span class="bg-success">Survey ID: @Model.ID with Answer: @Model.Answer</span>
            }
        }
        else
        {
            <span>@TempData["msg"]</span>
        }
    </div>
</div>
