﻿@{
    ViewBag.Title = "Survey";
    Layout = "~/Views/Shared/_Layout_Survey.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<h1 style="text-align:center">Survey</h1>
<div class="container">
    <form id="frmSurvey" method="post">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="bg-info">
                        <th colspan="2" style="text-align:center">Survey @ViewBag.Param</th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        <ul class="list-unstyled">
                            <li class="list-group-item">@Html.ActionLink("Page 1", "Survey", new { id = 1 })</li>
                            <li class="list-group-item">@Html.ActionLink("Page 2", "Survey", new { id = 2 })</liclass="list-group-item">
                            <li class="list-group-item">@Html.ActionLink("Page 3", "Survey", new { id = 3 })</li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            <li class="list-group-item">
                                @if (ViewBag.Param == 1)
                                {
                                    <h3>Question 1</h3>
                                    <label>
                                        Checkbox 1
                                        <input type="checkbox" name="chkSelection" value="Check1" />
                                    </label>
                                    <label>
                                        Checkbox 2
                                        <input type="checkbox" name="chkSelection" value="Check2" />
                                    </label>
                                }
                                else if (ViewBag.Param == 2)
                                {
                                    <label>Question 2</label>
                                    <input type="text" name="txtInput" />
                                }
                                else if (ViewBag.Param == 3)
                                {
                                    <h3>Question 3</h3>
                                    <label>
                                        Selection 1
                                        <input type="radio" name="radioG1" value="Radio Selection 1" />
                                    </label><br />
                                    <label>
                                        Selection 2
                                        <input type="radio" name="radioG1" value="Radio Selection 2" />
                                    </label><br />
                                    <label>
                                        Selection 3
                                        <input type="radio" name="radioG1" value="Radio Selection 3" />
                                    </label>
                                }

                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input class="btn btn-success" type="submit" value="Finish" id="btnFinish" name="Finish" /></td>
                    <td><input class="btn btn-default" type="button" value="Cancel" id="btnCancel" name="Cancel" onclick="location.href='@Url.Action("Cancel","Home")'" /></td>
                </tr>
            </table>
        </div>
    </form>
</div>