body {
    font-family: "Lato", sans-serif;
    background: #fff;
    margin: 0;
    padding: 0;
}

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000026;
    overflow-x: hidden;
    padding-top: 60px;
    font-size: 5vh;
    transition: 0.5s;
}
    #mySidenav > ul {
        white-space: nowrap;
        list-style: none;
        text-align: left;
        margin: 0;
        transition: 0.5s;
    }
    #mySidenav > ul > li {
        margin: 0px 20px;
        transition: 0.5s;
    }

.sidenav h1 {
    text-decoration: none;
    font-size: 22px;
    color: #e1e9f7;
    transition: 0.5s;
}

.sidenav p {
    text-decoration: none;
    font-size: 12px;
    color: #e1e9f7;
    transition: 0.5s;
}

.sidenav a {
    text-decoration: none;
    font-size: 20px;
    color: #e1e9f7;
    transition: 0.5s;
}

        .sidenav a:hover {
            color: #f1f1f1;
        }

#main {
    min-height: 100%;
    height: auto;
    transition: margin-left .5s;
    /* Negative indent footer by its height */
    margin: 0 auto -40px;
    /* Pad bottom by footer height */
    padding: 0 0 40px;
}

    #main > section {
        margin: 0;
        overflow: hidden;
        padding: 50px 0;
    }

        #main > section.one {
            background-color: #344346;
            color: #ddd;
            color: rgba(255, 255, 255, 0.75);
        }

        #main > section.two {
            background-color: #f5fafa;
        }

        #main > section.three {
            background-color: #ecf1f1;
        }

        #main > section.four {
            background-color: #e8edec;
        }

/* Set the fixed height of the footer here */
#footer {
    height: 40px;
    background-color: #6e7e82;
}
#footer > p {
    text-align: center;
    color: #ddd;
    padding-top: 10px;
    font-size: smaller;
}

/*smart phone portrait*/
@media screen and (max-width: 1023px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }

    header > h2 {
        font-size: 20px;
    }
    #main {
        width: 100%;
    }
}

/*Desktop & laptop*/    
@media screen and (min-width: 1024px) {
    .sidenav {
        padding-top: 15px;
        width: 200px;
    }

        .sidenav a {
            font-size: 18px;
        }

    header > h2 {
        font-size: 20px;
    }
    #main {
        margin-left: 200px;
    }
    #menu {
        visibility: hidden;
    }
    #footer {
        margin-left: 200px;
    }
}

.container {
    font-size: 16px;
}

header {
    text-align: center;
}

    header > h2 {
        font-size: 50px;
        margin-bottom: 40px;
        font-weight: 300;
    }

body,
html,
.main {
    height: 100%;
}

section {
    min-height: 100%;
}

ul.aboutme {
    margin-left: 5px;
    padding: 0;
}
ul.aboutme > li {
	margin-left: 15px;
	margin-bottom: 10px;
}

ul.resume {
    margin-left: 5px;
    padding: 0;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2px;
    list-style-type: none;
	padding-bottom: 10px;
}

.duration {
    font-style: italic;
    margin-bottom: 5px;
	margin-left: 17px;
}

.description {
    margin-bottom: 10px;
	margin-left: 17px;
}
.description li {
	margin: 5px 0;
}

.btn-info {
    color: #fff;
    background-color: #02245b !important;
    border-color: none !important;
    border: none !important;
}
    .btn-info:hover {
        background-color: #4277ce !important;
    }

#menu {
    position: fixed;
    top: 10px;
    padding: 10px 15px;
    color: black;
    background-color: #e1e6ef;
    opacity: 0.45;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

hr {
    border: 0;
    border-top: 2px solid #8c8c8c;
    border-bottom: 2px solid #fff;
}

div.clientList {
    display: block;
    text-align: center;
}

img.clientLogo {
    max-width: 25%;
    max-height: 25%;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 45px;
    margin-right: 45px;
}

.contactDetail {
    font-size: 17px;
}
    .contactDetail i {
        text-align: center;
        margin: 0;
    }

div.contactSection {
    display: block;
    text-align: center;
}


/* Style all font awesome icons */

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
	border-radius: 5px;
}


    /* Add a hover effect if you want */

    .fa:hover {
        opacity: 0.6;
        text-decoration: none;
		color: black;
    }


/* Set a specific color for each brand */


/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}


/* LinkedIn */
.fa-linkedin {
    background: #007bb5;
    color: white;
}


/* Google */
.fa-google {
    background: #dd4b39;
    color: white;
}


/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
