* {
    box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #f4ecba;
	position: relative;
	min-height: 100%;
	padding-bottom: 5rem;
	font-family: "Times New Roman", Times, serif;
}

.header {
    padding: 20px;
    text-align: right;
	background-color: #f7e25d
}

.topnav {
    overflow: hidden;
    background-color: #877504;
}

.topnav a {
    float: right;
    display: block;
    text-align: right;
    padding: 20px 20px;
    text-decoration: underline;
	color: #f2f2f2;
}


.topnav a:hover {
    background-color: #e8cf2e;
    font-size: 120%;
}

.topnav a:visited {
    color: #f2f2f2;
	text-decoration: none;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 25%;
	text-align: right;
}

/* Middle column */
.column.middle {
    width: 50%;
	text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
    background-color: #877504;
    text-align: center;
	font-weight: bold;
	color: #f2f2f2;
	padding: 5px;
}

.footer a {
	color: #04d615;
}

table, th, td {
    border-bottom: 1px solid red;
	border-collapse: collapse;
	vertical-align: top;
	padding: 10px;
}

ul {
	direction: rtl;
	list-style-type: square;
}

ul li {
	padding: 2px;
	border-bottom: 1px solid red;
}

.contact {
	background-color: #bc0707;
	color: #fff;
}

tr:nth-child(even) {
    background-color: #f0f943;
}

th {
	text-align: right;
}

img {
	margin-left: 10px;
	margin-bottom: 0px;
}

.contentimg {
	float: right;
}

.normal {
    font-weight: normal;
}

.thick {
    font-weight: bold;
}

.italic {
	font-style: italic;
}

a {
	color: #0754c6
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
	font-weight: bold;
}

h2, h3 {
	color: red;
	text-transform: uppercase;
}

#content {
	color: #997503;
	border-style: solid;
	border-color: #a5030b;
}

.button_regular {
    background-color: #212020;
    border: yes;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}

.button_regular:hover {
	background-color: gray
}

.button_fall {
    background-color: #fcd202;
    border: no;
    color: red;
    padding: 15px 32px;
    text-align: left;
	vertical-align: left;
    text-decoration: underline;
	border-radius: 12px;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.button_fall:hover {
	background-color: #ffec91
}

.button_winter {
    background-color: #0003b5;
    border: yes;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
	border-radius: 40%;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}

.button_winter:hover {
	background-color: #bcbdf4
}

.button_winter:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}