* {
    box-sizing: border-box;
}

body {
	position: relative;
	margin: 0;
	background-color: white;
	min-height: 100%;
	padding-bottom: 5rem;
	font-family: "Georgia", Times, sanserif;
}

.header {
    padding: 20px;
    text-align: center;
}

.topnav {
    overflow: hidden;
    background-color: black;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	border-right: 1px solid white;
}


.topnav a:hover {
    background-color: gray;
}

.topnav a:visited {
    color: #f2f2f2;
	text-decoration: none;
}

.topnav a:active {
	text-decoration: underline;
	background-color: #3af45f;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 25%;
	text-align: center;
}

/* Middle column */
.column.middle {
    width: 50%;
	text-align: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
    background-color: black;
	padding: 5px;
    text-align: center;
	color: white;
}

.footer a {
	color: #c2cbef;
}

table, th, td {
    border: 1px solid black;
	border-collapse: collapse;
	padding: 9px;
}

#content {
	text-align: justify;
}

.contact {
	background-color: #4e5962;
	color: #fff;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

th {
	text-align: left;
}

img {
	margin-right: 10px;
	margin-bottom: 0px;
}

.contentimg {
	float: left;
}

.normal {
    font-weight: normal;
}

.thick {
    font-weight: bold;
}

.italic {
	font-style: italic;
}

a {
	color: #0754c6;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

a:visited {
	color: green;
}

.button_regular {
    background-color: #212020;
    border: yes;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}

.button_regular:hover {
	background-color: gray
}

.button_fall {
    background-color: #fcd202;
    border: no;
    color: red;
    padding: 15px 32px;
    text-align: left;
	vertical-align: left;
    text-decoration: underline;
	border-radius: 12px;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.button_fall:hover {
	background-color: #ffec91
}

.button_winter {
    background-color: #0003b5;
    border: yes;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
	border-radius: 40%;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}

.button_winter:hover {
	background-color: #bcbdf4
}

.button_winter:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}