* {
    box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #e0e1ff;
	position: relative;
	min-height: 100%;
	padding-bottom: 5rem;
	font-family: "Lucida Console", Times, serif;
}

.header {
    padding: 15px;
    text-align: left;
	background-color: #b7b2f7
}

.topnav {
    overflow: hidden;
    background-color: #181fe0;
}

.topnav a {
    float: left	;
    display: block;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
	color: #f2f2f2;
}


.topnav a:hover {
    background-color: #676bef;
    font-size: 90%;
	text-transform: uppercase;
}

.topnav a:visited {
    color: #f2f2f2;
	text-decoration: none;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 25%;
	text-align: justify;
}

/* Middle column */
.column.middle {
    width: 50%;
	text-align: justify;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
    background-color: #181fe0;
    text-align: center;
	font-weight: lighter;
	color: #f2f2f2;
	padding: 5px;
}

.footer a {
	color: #f774a3;
}

table, th, td {
	vertical-align: top;
	padding: 10px;
}

.contact {
	background-color: #05088e;
	color: #fff;
}

tr:nth-child(even) {
    background-color: #a8aaff;
}

th {
	text-align: center;
}

img {
	margin-right: 10px;
	margin-bottom: 5px;
}

.contentimg {
	float: left;
}

.normal {
    font-weight: normal;
}

.thick {
    font-weight: bold;
}

.italic {
	font-style: italic;
}

a {
	color: #00049e;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	font-weight: bold;
}

h2, h3 {
	color: #0a0c68;
	text-transform: capitalize;
	border-bottom: 3px dotted #0149bc;
	border-top: 3px dotted #0149bc;	
}

ul li {
	background: #a7e1f9;
}

#content {
	color: #05074f;
}

.button_regular {
    background-color: #212020;
    border: yes;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}

.button_regular:hover {
	background-color: gray
}

.button_fall {
    background-color: #fcd202;
    border: no;
    color: red;
    padding: 15px 32px;
    text-align: left;
	vertical-align: left;
    text-decoration: underline;
	border-radius: 12px;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.button_fall:hover {
	background-color: #ffec91
}

.button_winter {
    background-color: #0003b5;
    border: yes;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
	border-radius: 40%;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}

.button_winter:hover {
	background-color: #bcbdf4
}

.button_winter:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}