﻿body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
}

table {
    height: 50%;
    width: 50%
}
tr {
    text-align:center;
}

button {
    text-align:center
}

.header {
    position:relative;
    overflow:auto;
    float:left;
}
