﻿
@{
    ViewBag.Title = "Registration";
}
<script type="text/javascript">
    function formValidation() {
        var len = document.getElementById("myForm").elements.length;
        for (var i = 0; i < len; i++) {
            if (document.getElementById("myForm").elements[i].value == "") {
                document.getElementById("errorMsg").className = "alert alert-danger";
                document.getElementById("errorMsg").innerHTML = "All fields are required";
                return false;
            }
        }
        
        var phoneNo = document.getElementById("phone").value;
        var regExStr = /^((\d{3}-)|(\(\d{3}\)))(\d{3}-)(\d{4})$/;
        var regex = new RegExp(regExStr);
        if (regex.test(phoneNo) == false) {
            document.getElementById("errorMsg").className = "alert alert-danger";
            document.getElementById("errorMsg").innerHTML = "Phone Number is invalid. Should be 123-123-1234 or (123)123-1234";
            return false;
        }
    }
</script>
<h2>New Seller Registration</h2>

<div class="form-inline">
    <form action="CreateNew" method="post" name="myForm" id="myForm" onsubmit="return formValidation()">
        <div class="form-group">
            <label>Seller Name:</label>
            <input class="form-control" name="sellerName" type="text" />
        </div>
        <div class="form-group">
            <label>Address:</label>
            <input class="form-control" name="address" type="text" />
        </div>
        <div class="form-group">
            <label>City: </label>
            <input class="form-control" name="city" type="text" />
        </div>
        <div class="form-group">
            <label>Phone:</label>
            <input class="form-control" name="phone" id="phone" type="text" />
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input class="form-control" name="email" type="email" />
        </div>
        <div class="form-group">
            <label>Vehicle Make:</label>
            <input class="form-control" name="make" type="text" />
        </div>
        <div class="form-group">
            <label>Vehicle Model:</label>
            <input class="form-control" name="model" type="text" />
        </div>
        <div class="form-group">
            <label>Vehicle Year:</label>
            <input class="form-control" name="year" id="year" type="number" min="1900" max="2018" />
        </div>
        <hr />
            <span id="errorMsg"></span>
        <hr />
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Submit" />
            <input type="reset" class="btn btn-secondary" value="Reset" />
        </div>
    </form>
</div>
@Html.ActionLink("Back to Home", "Index")