﻿@model Assignment04_QA.Models.Vehicle
@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div class="container">
    <hr />
    <dl class="dl-horizontal">
        <dt>Seller Name:</dt>
        <dd>@Model.sellerName</dd>
        <dt>Address: </dt>
        <dd>@Model.address</dd>
        <dt>City: </dt>
        <dd>@Model.city</dd>
        <dt>Phone: </dt>
        <dd>@Model.phone</dd>
        <dt>Email: </dt>
        <dd>@Model.email</dd>
        <dt>Vehicle Make: </dt>
        <dd>@Model.make</dd>
        <dt>Vehicle Model: </dt>
        <dd>@Model.model</dd>
        <dt>Year: </dt>
        <dd>@Model.year</dd>
        <dt>URL:</dt>
        <dd><a href="http://www.jdpower.com/cars/@Model.make/@Model.model/@Model.year">http://www.jdpower.com/cars/@Model.make/@Model.model/@Model.year</a></dd>
    </dl>
    @Html.ActionLink("Back to Home", "Index")
</div>