﻿@model IEnumerable<Assignment04_QA.Models.Vehicle>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<table class="table">
    <tr>
        <th>Seller Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Vehicle Make</th>
        <th>Vehicle Model</th>
        <th>Vehicle Year</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.sellerName</td>
            <td>@item.address</td>
            <td>@item.city</td>
            <td>@item.phone</td>
            <td>@item.email</td>
            <td>@item.make</td>
            <td>@item.model</td>
            <td>@item.year</td>
            <td>
                @Html.ActionLink("Detail", "Detail", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                <a href="http://www.jdpower.com/cars/@item.make/@item.model/@item.year">http://www.jdpower.com/cars/@item.make/@item.model/@item.year</a>
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Back to Home", "Index")