﻿
@{
    ViewBag.Title = "Report";
}

<script type="text/javascript" src="~/Scripts/angular.min.js"></script>
<script type="text/javascript" src="~/Scripts/App/report.js"></script>
<h2>Report</h2>

<div class="form-horizontal" ng-app="MarketApp" ng-controller="ReportController">
    <table class="table">
        <tr>
            <th colspan="4"><h2>Product Purchased</h2></th>
        </tr>
        <tr>
            <th>Product Name</th>
            <th>Purchased Date</th>
            <th>Quantity</th>
            <th>Purchase Price</th>
        </tr>
        <tr ng-repeat="rp in ReportPurchase">
            <td>{{rp.ProductName}}</td>
            <td>{{rp.PurchaseDateStr}}</td>
            <td>{{rp.Quantity}}</td>
            <td>{{rp.Rate}}</td>
        </tr>
    </table>
    <table class="table">
        <tr>
            <th colspan="4"><h2>Product Sold</h2></th>
        </tr>
        <tr>
            <th>Product Name</th>
            <th>Sold Date</th>
            <th>Quantity</th>
            <th>Sold Price</th>
        </tr>
        <tr ng-repeat="rp in ReportSold">
            <td>{{rp.ProductName}}</td>
            <td>{{rp.PurchaseDateStr}}</td>
            <td>{{rp.Quantity}}</td>
            <td>{{rp.Rate}}</td>
        </tr>
    </table>
    <table class="table">
        <tr>
            <th colspan="4"><h2>Inventory</h2></th>
        </tr>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
        </tr>
        <tr ng-repeat="rp in ReportInventory">
            <td>{{rp.ProductName}}</td>
            <td>{{rp.Quantity}}</td>
        </tr>
    </table>
    <table class="table">
        <tr>
            <th colspan="4"><h2>Benefit per Product</h2></th>
        </tr>
        <tr>
            <th>Product Name</th>
            <th>Sold Quantity</th>
            <th>Benefit</th>
        </tr>
        <tr ng-repeat="rp in Benefit">
            <td>{{rp.ProductName}}</td>
            <td>{{rp.SoldQuantity}}</td>
            <td>{{rp.Benefit}}</td>
        </tr>
    </table>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}